/* Palette color codes
$color1: #43bc9a;
$color2: #5dc6a9;
$color3: #77d0b7;
$color4: #92dac6;
$color5: #c8c8c8;
$color6: #dbdbdb;
$color7: #ededed;
*/

root { 
    display: block;}
html {
	font-size: 62.5%; }
body {
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 400;
	font-family: "Trebuchet MS", Helvetica, Calibri, sans-serif;
	color: #444;
	letter-spacing: 0.025em;
	text-align: left;
	text-decoration: none;
	text-transform: none;
	word-spacing: 0;
	background-color: #ededed;}

a { color: #43bc9a }
a:hover { color: #92dac6 }

p {
	margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* base styles */
header, footer {
	background-color: #43bc9a;}
footer a, header a {
	color: #ededed;}
header a:hover, footer a:hover {
	color: #92dac6;}

.main .block-group {
	background-color: #dbdbdb;}
.navbar {
	font-size: 1.2em;}
.navbar li {
	text-align: center;
	width: 25%;}

footer .block-group {
	margin-left: auto;
	margin-right: auto;
}

/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix */
.block-group {
	*zoom: 1;
}
.block-group:before, .block-group:after {
	display: table;
	content: "";
	line-height: 0;
}
.block-group:after {
	clear: both;
}

.block-group {
	/* ul/li compatibility */
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Nested grid */
.block-group > .block-group {
	clear: none;
	float: left;
	margin: 0 !important;
}
/* Nested grid */
.block-group > .block-group > .block-group {
	clear: none;
	float: left;
	margin: 0 !important;
}

/* Default block */
.block {
	float: left;
	width: 100%;
}



/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}




/* Larger than mobile */
@media (min-width: 400px) {
	.navbar li {
		text-align: left;
	}
	footer .block-group .block {
		width: 100%;
	}
	.footerLinks .block-group .block {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.footerText {
		text-align: center;
	}
}

/* Larger than tablet */
@media (min-width: 700px) {
	.navbar {
		width: 70%;
	}
	.navbar li {
		text-align: center;
	}
	.navbarSearch {
		width: 30%;
	}
	.main .block-group {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.main .block-group .block {
		width: 46%;
		margin: 2%;
	}
	footer .block-group .block {
		width: 46%;
		margin: 2%;
	}
	.footerLinks .block-group .block {
		width: 100%;
		text-align: right;
		margin: 0;
	}
	.footerText {
		text-align: left;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.navbar {
		width: 60%;
		margin-right: 20%;
	}
	.navbarSearch {
		width: 20%;
	}
}